@import "~normalize.css/normalize.css";
@import "./title";
@import "./body";

@media screen and (max-width: 767px) {
  .countries {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .countries {
    display: block;
  }

  .selection-container {
    display: none;
  }
}

.selection-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.select-box {
  font-size: 14px;
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}

.cities {
  display: none;

  &.is-open {
    display: block;
  }
}
